@charset "UTF-8";

html{
    -webkit-text-size-adjust: 100%;
}




/*----------------------------------はじまり---------------------------------------------------------------------*/
body{
    margin:0;
    padding:0;
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.menu{
    width: 89%;
    padding-left: 10vw;
    bottom: -355vw;
}

img{
    width: 100%
}

#kanransya{
    width: 4%;
    position: fixed;
    top: 15.6vw;
    right: 47vw;
    z-index:11;
}
.haikei {
    position: fixed;
    z-index: -2;
    height: 100vh;
    width: 100vw;
    background-image: url(../lie/img/background.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat；;
}



/*three-----------------------------------------------*/
.shoukai{
    color:#ecf2ca;
    line-height: 5vw;
    position: absolute;
    right: 74vw;
    top: 9vw;
    text-align: center;
}

.kannban{
    width: 85%;
    position: relative;
    left: 15vw;
}

.three{
    position: relative;
    padding-top: 10vw;
}


/*first-------------------------------------*/
.sayu{
    position: absolute;
    top: -1vw;
    width: 38vw;
    left: 59vw    
}

.oneone p{
    color: rgb(0,98,127);
    font-size: 30px;
    font-size: 2vw;
    position: absolute;
    top: 45vw;
    z-index: 1;
    left: 14vw;
}

.first{
    height: 52vw;
    position: relative
}

.logo{
    width: 60vw;
    position: absolute;
    top: 12vw;
    left: 7vw;
}

.kumo1{
    width: 40vw;
    position: absolute;
    top: 7vw;
    left: -25vw;
}

.kumo2{
    position: absolute;
    top: 28vw;
    right: -1vw;
    width: 16vw;
}

.kumo3{
    width: 51%;
    position: absolute;
    top: 42vw;
    left: 3vw;
    transform: scale(-1, 1);
}

/*two------------------------------------*/
.two{
    padding-top: 25vw;
    position: relative;
}


.span{
    color: rgb(215,0,81)
}

.two h1{
    color:#ecf2ca;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 4vw;
}


.star{
    position: absolute;
    top:7vh;    
}


.two p{
    color:#ecf2ca;
    text-align: center;
    line-height: 5vw;
}

/*seven---------------------------------*/
.seven{
    position: relative;
}

.titile{
    color:#ecf2ca;
    font-family: 'Lobster', cursive;
    font-size: 4vw;
    position: absolute;
    left: 4vw;
    top: 40vw;
}


.price{
    position: absolute;
    top: 85vw;
    z-index: 9;
}

.sea1{
    position: absolute;
    top: 59vw;
    z-index: 5;
}

.sea2{
    position: absolute;
    top: 55vw;
    z-index: 0;
}

.ship{
    position: absolute;
    top: 40.6vw;
    width: 43%;
    left: 57vw;
    z-index: 4;
}

.food{
    position: absolute;
    width: 50%;
    left: 25vw;
    z-index: 8;
    top: 29vw;
}



/*cm---------------------------------------------------------*/

.cm1{
    width: 75%
}

.cm2{
    width: 80%;
    position: absolute;
    bottom: -42vw;
    left: 20vw
}
.next{
    position: relative;

}
.cm{
    padding-bottom: 30vw;
}



/*four-----------------------------------------------------------*/

.four{
    padding: 35vw;
    position: relative;
}


.date{
    position: absolute;
    width: 45vw;
    left: 7vw;
    top: 25vw;
}

.tekkotsu{
    position: absolute;
    left: -4vw;
    top: 9vw;
}

.tekkotsu2{
    position: absolute;
    left: -4vw;
    top: 48vw;
}

.map{
    position: absolute;
    top: 3vw;
    left: 1vw;
}

.kyousitsu{
    position: absolute;
    width: 40vw;
    left: 24vw;
    top: 42vw;
}

.yosida{
    position: absolute;
    top: 113vw;
    z-index: 7;
    left: 30vw;
    width: 45vw;
}



/*------------フッター-------------------------------*/

.footer{
    height:80vh;
    background-color: black;
}

.footer_you{
    display: block;
    width: 100%;
    height: 20vh;
    padding: 23px 0 0 0;
}

.footer_you p{
    text-align: center;
    color: white;
    font-size: 1vw;
}

.footer_you a{
    color:white;
}

.footer_img{
    display: block;
    width: 12vw;
    height: auto;
    margin: 0 auto;
    padding: 15vh 0 0 0;
}






/*--------------------------------------------胴体の回転-----------------*/
#doutai {

    -webkit-animation: spin 30s linear infinite;
    -moz-animation: spin 30s linear infinite;
    -ms-animation: spin 30s linear infinite;
    -o-animation: spin 30s linear infinite;
    animation: spin 30s linear infinite;
    transform-origin: inherit;
}

@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(360deg);}
    
}
@-ms-keyframes spin {
	0% {-ms-transform: rotate(0deg);}
	100% {-ms-transform: rotate(360deg);}
}
@-o-keyframes spin {
	0% {-o-transform: rotate(0deg);}
	100% {-o-transform: rotate(360deg);}
}
@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

/*----------------------------------------部屋全体の回転---------------*/

#room {

    -webkit-animation: spin 30s linear infinite;
    -moz-animation: spin 30s linear infinite;
    -ms-animation: spin 30s linear infinite;
    -o-animation: spin 30s linear infinite;
    animation: spin 30s linear infinite;
    transform-origin: inherit;
}

@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(360deg);}
    
}
@-ms-keyframes spin {
	0% {-ms-transform: rotate(0deg);}
	100% {-ms-transform: rotate(360deg);}
}
@-o-keyframes spin {
	0% {-o-transform: rotate(0deg);}
	100% {-o-transform: rotate(360deg);}
}
@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

/*部屋ごとの回転*/

#room1 {

    -webkit-animation: rotate 30s linear infinite;
    -moz-animation: rotate 30s linear infinite;
    -ms-animation: rotate 30s linear infinite;
    -o-animation: rotate 30s linear infinite;
    animation: rotate 30s linear infinite;
    transform-origin: inherit;
}

@-webkit-keyframes rotate {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(-360deg);}
}
@-moz-keyframes rotate {
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(-360deg);}
    
}
@-ms-keyframes rotate {
	0% {-ms-transform: rotate(0deg);}
	100% {-ms-transform: rotate(-360deg);}
}
@-o-keyframes rotate {
	0% {-o-transform: rotate(0deg);}
	100% {-o-transform: rotate(-360deg);}
}
@keyframes rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(-360deg);}
}


#room2 {

    -webkit-animation: rotate 30s linear infinite;
    -moz-animation: rotate 30s linear infinite;
    -ms-animation: rotate 30s linear infinite;
    -o-animation: rotate 30s linear infinite;
    animation: rotate 30s linear infinite;
    transform-origin: inherit;
}

@-webkit-keyframes rotate {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(-360deg);}
}
@-moz-keyframes rotate {
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(-360deg);}
    
}
@-ms-keyframes rotate {
	0% {-ms-transform: rotate(0deg);}
	100% {-ms-transform: rotate(-360deg);}
}
@-o-keyframes rotate {
	0% {-o-transform: rotate(0deg);}
	100% {-o-transform: rotate(-360deg);}
}
@keyframes rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(-360deg);}
}

#room3 {

    -webkit-animation: rotate 30s linear infinite;
    -moz-animation: rotate 30s linear infinite;
    -ms-animation: rotate 30s linear infinite;
    -o-animation: rotate 30s linear infinite;
    animation: rotate 30s linear infinite;
    transform-origin: inherit;
}

@-webkit-keyframes rotate {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(-360deg);}
}
@-moz-keyframes rotate {
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(-360deg);}
    
}
@-ms-keyframes rotate {
	0% {-ms-transform: rotate(0deg);}
	100% {-ms-transform: rotate(-360deg);}
}
@-o-keyframes rotate {
	0% {-o-transform: rotate(0deg);}
	100% {-o-transform: rotate(-360deg);}
}
@keyframes rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(-360deg);}
}

#room4 {

    -webkit-animation: rotate 30s linear infinite;
    -moz-animation: rotate 30s linear infinite;
    -ms-animation: rotate 30s linear infinite;
    -o-animation: rotate 30s linear infinite;
    animation: rotate 30s linear infinite;
    transform-origin: inherit;
}

@-webkit-keyframes rotate {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(-360deg);}
}
@-moz-keyframes rotate {
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(-360deg);}
    
}
@-ms-keyframes rotate {
	0% {-ms-transform: rotate(0deg);}
	100% {-ms-transform: rotate(-360deg);}
}
@-o-keyframes rotate {
	0% {-o-transform: rotate(0deg);}
	100% {-o-transform: rotate(-360deg);}
}
@keyframes rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(-360deg);}
}

#room5 {

    -webkit-animation: rotate 30s linear infinite;
    -moz-animation: rotate 30s linear infinite;
    -ms-animation: rotate 30s linear infinite;
    -o-animation: rotate 30s linear infinite;
    animation: rotate 30s linear infinite;
    transform-origin: inherit;
}

@-webkit-keyframes rotate {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(-360deg);}
}
@-moz-keyframes rotate {
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(-360deg);}
    
}
@-ms-keyframes rotate {
	0% {-ms-transform: rotate(0deg);}
	100% {-ms-transform: rotate(-360deg);}
}
@-o-keyframes rotate {
	0% {-o-transform: rotate(0deg);}
	100% {-o-transform: rotate(-360deg);}
}
@keyframes rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(-360deg);}
}

#room6 {

    -webkit-animation: rotate 30s linear infinite;
    -moz-animation: rotate 30s linear infinite;
    -ms-animation: rotate 30s linear infinite;
    -o-animation: rotate 30s linear infinite;
    animation: rotate 30s linear infinite;
    transform-origin: inherit;
}

#kanransya{
    position: fixed;
    top: 0.6vw;
    right: 1vw;
    width: 5vw;
    z-index:11;
}


#room7 {
    
        -webkit-animation: rotate 30s linear infinite;
        -moz-animation: rotate 30s linear infinite;
        -ms-animation: rotate 30s linear infinite;
        -o-animation: rotate 30s linear infinite;
        animation: rotate 30s linear infinite;
        transform-origin: inherit;
    }
    
    #kanransya{
        position: fixed;
        top: 0.6vw;
        right: 1vw;
        width: 5vw;
        z-index:11;
    }
 

#room8 {

    -webkit-animation: rotate 30s linear infinite;
    -moz-animation: rotate 30s linear infinite;
    -ms-animation: rotate 30s linear infinite;
    -o-animation: rotate 30s linear infinite;
    animation: rotate 30s linear infinite;
    transform-origin: inherit;
}

#kanransya{
    position: fixed;
    top: 0.6vw;
    right: 1vw;
    width: 5vw;
    z-index:11;
}

/*部屋ごとの回転 終わり*/



















/*---------------------------------------スマホ--------------------*/
@media screen and ( max-width: 622px)
{
    body{
        padding:0;
        margin:0;
        overflow-x: hidden;
    }
   
    .acdn-button{
        background-image: url(../img/twitter.png);
        
    }
    .macdn-button{
        background-image: url(../img/white_mobile_menu.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
   #kanransya{
       display:none;
   }   
.two h1 {
        color: #ecf2ca;
        text-align: center;
        font-family: 'Lobster', cursive;
        font-size: 8vw;
    }


.two p {
    color: #ecf2ca;
    text-align: center;
    line-height: 12vw;
    font-size: 3.5vw;
}


.cm p {
    color: #ecf2ca;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 8vw;
    margin-top: 7vw;
    margin-bottom: 5vw;
}

p.titile {
    color: #ecf2ca;
    font-family: 'Lobster', cursive;
    font-size: 8vw;
    position: absolute;
    top: 10vw;
    left: 18vw;
    z-index: 6;
}

.shoukai {
    color: #ecf2ca;
    line-height: 5vw;
    position: absolute;
    right: 74vw;
    top: 9vw;
    text-align: center;
}


.four {
    padding: 35vw;
    position: relative;
    margin-top: 46vw;
}

.kannban {
    width: 91vw;
    position: relative;
    left: 9vw;
    top: -14vw;
}

.logo {
    width: 74vw;
    position: absolute;
    top: 12vw;
    left: 12vw;
}
.sayu {
    position: absolute;
    top: 37vw;
    width: 57vw;
    left: 49vw;
}

.oneone p {
    color: rgb(0,98,127);
    font-size: 30px;
    font-size: 4vw;
    position: absolute;
    top: 71vw;
    z-index: 0;
    left: 14vw;
}

.kumo3 {
    width: 85%;
    position: absolute;
    top: 67vw;
    left: 3vw;
    transform: scale(-1, 1);
    z-index: -2;
}

.two {
    padding-top: 77vw;
    position: relative;
}


/*---------------------------------------タブレット--------------------*/
@media screen and ( max-width: 620px)
{