<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>第４章|データの監視と加工</title>
    <link href="main2.css" rel="stylesheet">
</head>
<body>
        <div id="app">
          <h2>算出プロパティで処理を含むデータの作成</h2>
          <input v-model.number="width">{{ width }}
          <input v-model.number="halfWidth">{{ halfWidth }}
            </div>
        <div id="app1">
            <h3 style="color:red;">算出プロパティ</h3>
            <ol>
                <li>{{ computedData }}</li>
                <li>{{ computedData }}</li>
                <li>{{ computedData1 }}</li>
                <li>{{ computedData1 }}</li>
            </ol>
            <h4>２回目以降は値が記録される→キャッシュ機能</h4>
            <h3 style="color:red;">メソッド</h3>
            <ol>
                    <li>{{ methodsData() }}</li>
                    <li>{{ methodsData() }}</li>
                    <li>{{ methodsData() }}</li>
                    <li>{{ methodsData() }}</li>
                </ol>
            <h4>値がキャッシュされず、別々の値が記録され続ける</h4>
        </div>

        <div id= "app2">
                <h3>リストの絞り込み</h3>
                <input v-model.number="budget"> 円以下に絞り込む
                <input v-model.number="limit"> 件を表示
                <p>{{ matched.length }}件中 {{ limited.length }}件を表示中</p>
                <button v-on:click="order=!order">切り替え</button>
                <ul>
                    <!-- v-forでは最終結果、算出プロパティのlimitedを使用する -->
                    <li v-for= "item in limited" v-bind:key="item.id">
                        {{ item.name }} {{ item.price }}円
                    </li>
                    
                </ul>
            </div>

            <div id="app3">
                <h3>APIからのデータ取得</h3>
                <select v-model="current">
                    <option v-for="topic in topics" v-bind:value="topic.value">
                      {{ topic.name }}
                    </option>
                  </select>
                  <div v-for="item in list">{{ item.full_name }}</div>
            </div>
            <div id="app4">
                <h3>複数のフィルタを繋げて利用</h3>
                180 度は {{ 180 | radian | round }} ラジアンだよ
            </div>
            <div id="app5">
                <h3>nextTickで更新後のDOMにアクセスする</h3>
                    <button v-on:click="list.push(list.length+1)">追加</button>
                    <ul ref="list">
                      <li v-for="item in list">{{ item }}</li>
                    </ul>
                    
            </div>

    <script src = "https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <!-- Lodash Library install -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
    <script src = "quatre.js"></script>
    
</body>
</html>