@charset "UTF-8";

/* reset css */

h1,
h2,
p{
    margin:0;
}

/* ここから下がメイン */

html{
    -webkit-text-size-adjust: 100%;
}

body{
    background-color: rgb(36,50,113);
    overflow-x: hidden;
    font-family :
	YuGothic,    /* Mac用 */
	sans-serif;
}

img{
    border:0;
    max-width: 100%;
    height: auto;
}

.wf-mplus1p { font-family: "Mplus 1p"; }

span{
    font-weight: bold;
}
.wrap{
    position: relative;
}
#star1{
    width: 100vw;
    display: block;
}

#title1{
    width: 27vw;
   position: absolute;
   top:6.5vw;
   right: 0;
   left: 0;
   margin: auto;
   z-index: -1;
    
}


.content1{
    margin-top: 7.5vw;
    background-color: rgb(247,245,233);
    z-index: 5;
}
#nittei{
    text-align: center;

}

#date1{
    width: 30.4vw;
    height: 8.4vw;
    background-color: white;
    background-image: url(img/dottline.png);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: rgb(64,65,67);
    font-size: 0.9vw;
    line-height: 2.6vw;
    border: 4px solid rgb(54,24,61);
    border-radius:8px;
    padding: 0.6%;
    position: absolute;
    top: 37vw;
    left: 37vw;
    z-index: 9; 
    display: none;
}


#int{
    width: 26vw;
    position: absolute;
    top: 54.8vw;
    left: 10vw;
    margin: auto;
    z-index: 9
}

#line1{
    width:100%;
    position: absolute;
    top: 48.8vw;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 8;
}

#ego{
    text-align: center;
    margin-top: 1vw;
    color: rgb(54,24,61);
    font-size: 5vw;
}
#jiga{
    width: 22vw;
    height:10vw;
    background-color: white;
    border: 4px solid rgb(54,24,61);
    border-radius:8px;
    position: absolute;
    top: 66vw;
    right: 38vw;
    z-index: 8;

}

#tate{
    width: 19.5vw;
    position: absolute;
    top: 74.5vw;
    right: 39.5vw;
    z-index: 9;
}

#outline{
    width: 56vw;
    height:18vw;
    background-color: white;
    border: 4px solid rgb(54,24,61);
    border-radius:8px;
    position: absolute;
    top: 78vw;
    right: 20vw;
    padding: 2%;


}

#sente{
    text-align: center;
    color: rgb(54,24,61);
    font-size: 1.5vw;
    line-height: 3.2vw;
    margin-top: 1vw;
}


#desert1{
    width: 100%;
    margin-top: 71.4vw;
    vertical-align: bottom;
}
.page2{
    position: relative;
}

#sky1{
    width: 100%;
    margin-top: 1%;
}
#line222{
    width: 69.2vw;
    margin-left: 14.35vw;
    margin-top: -22vw;
    z-index: 9;

}
#pepe1{
    width: 25vw;
    position: absolute;
    top: 4vw;
    right: 17vw;
}



#gesuto{
    width: 26vw;
    position: absolute;
    top: 6vw;
    right: 69vw;
    margin: auto;
}

#matt{
    width: 35%;
    position: absolute;
    top: 26vw;
    right: 48vw;
}
#desert2{
    width: 100vw;
    margin-top: -8vw;
    vertical-align: bottom;
    
}
#oasis2{
    width: 100vw;
    position: absolute;
    top: 44vw;
    right: 0;
    margin: auto;
    z-index: 1;
}

.page3{
    background-color: rgb(247,245,233);
    position: relative;
}
#abe{
    width: 26vw;
    position: absolute;
    top: 5vw;
    right: 68vw;
    font-size: 1.8vw;
}

#line333{
    width: 70vw;
    margin-left: 14.5vw;
    margin-right: 15vw;
    margin-top: -0.3vw;
    z-index: 8;
    position: relative;
    }
    #date71{
        color: white;
        width: 30vw;
        font-size: 1.7vw;
        position: absolute;
       top: 33vw;
       left: 25vw;
       margin: auto;
        z-index: 9;
    }
    #date72{
        color: white;
        font-size: 1.7vw;
        position: absolute;
        top: 33vw;
        right: 26vw;
        margin: auto;
        z-index: 9;
    }

    .float3{
        width: 90%;
       margin-left: auto;
       margin-right:auto;
        margin-top: -0.5vw;
    }
    .motimoti{
        float: left;
        width: 10vw;
        margin-top: 10vw;

    }
    #movie{
        float: left;
        width: 68vw;

    }
     .page3::after{
        content:"";
        display: block;
        clear:both;
    }
    
    .page3{
        *zoom: 1;
    } 

    #motif555{
        width: 50vw;
        margin-left: 25vw;
        margin-top: 8vw;
        clear: left;
    }

    .corab{
        color: rgb(54,24,61);
        text-align: center;
    }

    .cor1{
        background-color: white;
        width: 25vw;
        margin-left: auto;
        margin-right: auto;
        /* margin-bottom: 3vw; */
        height: 7vw;
        border: 3px solid rgb(54,24,61);
        border-radius:8px;
        font-size: 1.5vw;
    }
    .cor1 h2{
        margin-top: 1.4vw;
    }

    .cor2{
        background-color: white;
        width: 50vw;
        height: 9vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.4vw;
        border: 3px solid rgb(54,24,61);
        border-radius:8px;
        font-size: 1.8vw;
    }

    .cor2 h2{
        margin-top: 2vw;
    }
    #shop2{
        float: left;
        width: 52vw;
        margin-top: -5vw;
        margin-left: auto;
        margin-right: auto;

    }

    .cor3{
        width: 91%;
        position: absolute;
        top: 155vw;
        /* right: 0vw; */
        left: 6.5vw;
        /* bottom: 0; */
        margin: auto;
    }


    #egg1{
        float: left;
        width: 13vw;
        margin-top:-7.5%;
        margin-right: 3vw;
    }

    #egg2{
        float: left;
        width: 13vw;
        margin-top:-7%;
        margin-left: 3.5vw;
    }

    .hooter{
        height: 10vw;
        background-color: rgb(226,223,120);
        margin-top: 58vw;
     }
     
     #footer1{
         width: 100vw;
         margin-top: -10vw;
     
     }
     #pin123{
        width: 19vw;
        height: 5vw;
        position: absolute;
        top: 52.3%;
        right: 39vw;
        z-index: 8;
    }

/* page4に戻る */
#daiya{
    width: 72vw;
    margin-top:8vw;
    margin-left: 14vw;
}

#castle34{
    width: 100vw;

    vertical-align: bottom;
}

/* ダイヤバー */
.all{
    background-color: black;
}

#bird{
    display:block;
    position: fixed;
    top: 0.2vw;
    right: 2vw;
    width: 10vw;
    z-index: 11;
}

#shine {

    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    -ms-animation: spin 10s linear infinite;
    -o-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
    transform-origin: inherit;
}

@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(360deg);}
    
}
@-ms-keyframes spin {
	0% {-ms-transform: rotate(0deg);}
	100% {-ms-transform: rotate(360deg);}
}
@-o-keyframes spin {
	0% {-o-transform: rotate(0deg);}
	100% {-o-transform: rotate(360deg);}
}
@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

.footer{
    width:100vw;
    height:85vh;
    background-color: black;
}
.footer_you{
    display: block;
    width: 90%;
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
}
.footer_you p{
    text-align: center;
    color: white;
    font-size: 1.5vw;
}
.footer_you a{
    color:white;
}
.footer_img{
    display: block;
    width: 30vw;
    height: auto;
    margin: 0 auto;
    padding: 8vh 0 0 0;
}
.testfont { font-family: "Sawarabi Gothic"; }


body{
    margin:0;
    padding:0;
}
.clearfix:after{
  content:" ";
  clear: both;
  display: block;
}
#rotate_logo{
    width: 5vw;
    position: fixed;
    right: 2vw;
    z-index:12;
    top: 0.5vw;
}
