@charset "utf-8";
body{
    margin:0;
    padding:0;
}
.clearfix:after{
  content:" ";
  clear: both;
  display: block;
}

/*menu bar*/
/* 開閉する要素 */

.acdn-content
{  
  position:absolute;
  top:6vw;
  width:30%;
  height:2000px;
  background-color: black;
  position:fixed;
  opacity:0.9;
  display: none;
}


.twitter_background{
    display:none;
}


/*上のメニューバー*/
#menubar{
  background-color: black;
  height: 6vw;
  display: block;
  width:100%;
  cursor: pointer;
  z-index: 10;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position:fixed;
  top:0;
}


.mainmemo li{ 
    display:inline-block;
    padding:2vw 2vw;
    font-size: 1.5vw;
}
.mainmemo a{
    text-decoration: none;
}
.mainmemo a:link{
    color:white;
}
.mainmemo a:visited{
    color:white;
}

.mainmemo{
    text-align: center;
}

/*twitter icon css*/
.acdn-button{
    position: absolute;
    top: 35%;
    left: 4%;
    width: 4vw;
    height: 4vh;
    background-image: url(img/twitter.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/*main view css*/
#main{
    height: auto;
    width: 100vw;
    min-height: 94vh;
    margin-top: 6vh;
    background-image: url(img/header.png);
    background-size: cover;
    background-position: center;
}
.mobile_twitter{
    display: hidden;
}

.mobile_menu{
    display: hidden;
}
.header{
     position:absolute;
     top:6vw;
     width:100%;
     z-index:-2;
 }
 /*this will be the design of the guest*/
 .guestview{
     width:75%;
     height:auto;
     margin:20vh;
     margin-left:auto;
     margin-right: auto;
     display:block;
 }
.guest{
    position:relative;
    float:left;
    margin:20px 20px 0;
}
.event_info{
    background-color:black;
    opacity:0.8;
    width:100%;
    height:25vh;
    position:absolute;
    bottom:0;
}
.logo{
    width:90%;
    height:45%;
}
.event1{
    background-image:url('img/logo1.png') ;
    background-size:cover;
    background-position:center;
    margin:2vh auto;
    z-index: 8;
}
.flower{
    width:200px;
    height:65vh;
    z-index: -2;
}
.flower_guest{
    position:absolute;
    bottom:25vh;
    width:100%;
    height:45vh;
    background-color:#EDD96E;
    background-image:url('img/hana_imai.png');
    background-size:cover;
    background-position:center;
}

.bird{
    width:200px;
    height:65vh;
    z-index: -2;
}
.bird_guest{
    position:absolute;
    bottom:25vh;
    width:100%;
    height:45vh;
    background-color:#1A9E75;
    background-image:url('img/SWEETs.png');
    background-size:cover;
    background-position:center;
}
.event2{
    background-image:url('img/logo2.png') ;
    background-size:auto 100%;
    background-position:center;
    margin:2vh auto;
    z-index: 8;
}
.wind{
    width:200px;
    height:65vh;
    z-index: -2;
}
.wind_guest{
    position:absolute;
    bottom:25vh;
    width:100%;
    height:45vh;
    background-color:#D84869;
    background-image:url('img/konndou.png');
    background-size:cover;
    background-position:center;
}
.event3{
    background-image:url('img/logo3.png') ;
    background-size:cover;
    background-position:center;
    margin:2vh auto;
    z-index: 8;
}
.moon{
    width:200px;
    height:65vh;
    z-index: -2;
    background-color:#378DC4;  
}
.moon_guest{    
    position:absolute;
    bottom:25vh;
    width:100%;
    height:45vh;
    background-color:#378DC4;  
    background-image:url('img/pei.png');
    background-size:cover;
    background-position:center;
}

/*this will be the third frame*/
.third_frame{
    margin:30vh 0 0 0;
    width:100vw;
    height:45vh;
     background-image:url('img/frame3.png');
    background-size:cover;
    background-position:center;
}
@media screen and (max-width: 320px) and (max-width: 480px) {
.third_frame{
    width: 320px;
    height: 480px;
  }
}
.third_info{
    display:block;
    margin:1vh;
}
.copy_info{
    text-align:center;
}

/*this will be the fourth frame*/

.fourth_frame{
    margin:1vh auto;
    width:100vw;
    height:110vh;
    background-image: url('img/fourth_frame.png');
    background-size:cover;
    position:relative;
}

.fourth_hinako{
    position: absolute;
    left: 11vw;
    width: 41vw;
    top: 43vh;
    height: auto;
    display: block;
}
.fourth_title{
    color:white;
    font-weight: bold;
    font-size:3vw;
}
.specific_space{    
    position: absolute;
    bottom: -23vh;
    left: 10vw;
    background-size: cover;
    opacity: 0.8;
    width: 23vw;
    height: auto;

}

.specific_space p{
    text-align: center;
    color:white;
    font-size:1vw;
    font-weight: bold;
}

/*this will be the fifth frame*/

.fifth_frame{
    position:relative;
    margin:25vh auto;
    width:100vw;
    height:70vh;
    background-image: url('img/fifth_frame.png');
    background-size:cover;
    background-position:center;
    background-color: black;
    opacity:0.8;
    z-index: -2;
}
.fifth_info{
    position:absolute;
    bottom:0;
    left:38vw;
    text-align:center;
    color:white;
    font-size:3.5vw;
}
.collabo{
    text-align: center;
    clear: left;

}
.menus{
    width: 70vw;
    margin-right: auto;
    margin-left: auto;
}
.bmen{
    width: 20vw;
    height: 22vw; 
    float: left;
    z-index: 3;
    margin-right:3vw;
    margin-bottom:3vw;
    position: relative;
}
.cmenu{
    width: 20vw;
    height: 22vw;
    background-color: black;
    opacity: 0.8;
    z-index: 3;
    position: relative;
   
}

.price{
    position: relative;
    top: 0;
    right: 6.5vw;
    width: 7vw;
    z-index: 3;
}

.food{
    width: 11vw;
    position: relative;
    top: -23.5vw;
    right: 0.5vw;
    z-index: 3;
}

.shopname{
    /* text-align: center; */
    color:white;
    position: relative;
    top: -27vw;
    right: 0;
    z-index: 10;
    font-size: 1.9vw;
}

.shiro{
    width: 16vw;
    position: absolute;
    top: 15vw;
    right: 2.2vw;
    z-index: 4;
    
}
.sentence{
    position: absolute;
    top: 15vw;
    right: 5vw;
    z-index: 4;
    color: white;
    font-size: 1.2vw;

}

.menus::after{
    content:"";
    display: block;
    clear:both;
}

.menus{
    *zoom: 1;
}     
.pregues{
    text-align: center;
}
div.example1 {
overflow-x: scroll;
white-space: nowrap;
display: block;
width: 100%;
height: 35vw;
margin-bottom: 1.5em;
background-color: #ffffff;
margin-right: auto;
margin-left: auto;
}

.preguest{
    width: 19%;
    /* float: left; */
    display: inline-block;
    margin-left: 3vw;

}
.rui{
    margin-bottom:0.5vw;
} 
.jiro{
    margin-bottom:1.0vw;

}
.natsuki{
    margin-bottom:1.5vw;

}
.zumi{
    margin-bottom:2.0vw;

}
.kirin{
    margin-bottom:2.5vw;

}
.rokkaku{
    margin-bottom:3.0vw;

}
.anzai{
    margin-bottom:2.8vw;
}
.eighth_frame{
    width:100vw;
    height:100vh;
    position:relative;
}
.eight {
    text-align: center;
    padding: 24vh;
    font-size: 34px;
}
.yoshiposition {
    display: block;
    width: 19vw;
    height: auto;
    margin: -22vh auto;
}
.bottom_view{
    background-image: url('img/eight.png');
    background-size:cover;
    position:absolute;
    opacity:0.8;
    bottom:0;
    width:100%;
    height:53vh;
}
.footer{
    width:100vw;
    height:65vh;
    background-color: black;
}
.footer_you{
    display: block;
    width: 100%;
    height: 20vh;
    padding: 23px 0 0 0;
}
.footer_you p{
    text-align: center;
    color:white;
}
.footer_you a{
    color:white;
}
.footer_img{
    display:block;
    width:20vw;
    height: auto;
    margin:0 auto;
    padding: 15vh 0 0 0;
}


/*-----------------------------------------------MEDIA!!!-----------------------------------------------------*/

/*first frame will be from here */

@media screen and (max-width:768px){
 
.mainmemo{
    display:none;
}
#menubar {
    background-color: black;
    height: 0;
    display: block;
    width: 100%;
    cursor: pointer;
    z-index: 10;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: fixed;
    top: 0;
}

#main{
    width:100vw;
    height:100vh;
    background-image: url('img/mobile_header.png');
    background-size: cover;
    background-position: center;
    margin-top:0;
    position:relative;
}

.acdn-button{
    position: absolute;
    top: 2vh;
    left: 2vw;
    width: 14vw;
    height: 8vh;
    background-image: url('img/mobile_twitter.png');
    background-repeat: no-repeat;
    display: block;
}

.acdn-content{
  position:absolute;
  top:10vh;
  width:100vw;
  height:2000px;
  background-color: black;
  position:fixed;
  opacity:0.9;
  display: none;

}
/*.mobile_twitter{
    position: fixed;
    top: 2vh;
    left: 2vw;
    width: 14vw;
    height: 8vh;
    background-image: url(img/mobile_twitter.png);
    background-repeat: no-repeat;
    display: block;
}
.twitter_background{
    background-color:black;
    opacity: 0.9;
    height:100vh;
    width:100vw;
}*/


.mobile_menu{
    display: block;
    position: fixed;
    background-image: url('img/mobile_menu.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 14vw;
    height: 8vh;
    top: 1vh;
    right: 3vw;
}

/*this will be the second frame*/

/*this will be the third frame*/

.third_frame{
margin: 30vh 0 0 0;
    width: 100vw;
    height: 26vh;
    background-image: url(img/mobile_frame3.png);
    background-size: cover;
    background-position:center;
}

/*this will be the fourth frame*/
.fourth_frame{
    margin: 10vh auto;
    width: 100vw;
    height: 50vh;
    background-image: url(img/mobile_fourth_frame.png);
    background-size: cover;
    position: relative;
}
.fourth_title{
    position: absolute;
    left: -4vw;
    bottom: 10vh;
    width: 35vw;
    font-size: 5vw;
    text-align: center;
}
.specific_space{    
    position: absolute;
    bottom: -23vh;
    left: 10vw;
    background-size: cover;
    opacity: 0.8;
    width: 23vw;
    height: auto;

}
/*this will be the fifth frame*/

.fifth_frame{
    position: relative;
    margin: 25vh auto;
    width: 100vw;
    height: 25vh;
    background-image: url('img/mobile_fifth_frame.png');
    background-size: cover;
    background-position: center;
    background-color: black;
    opacity: 0.8;
    z-index: -2;
}

/*sixth frame*/

/*seventh frame*/

/*eighth frame*/
.eighth_frame{
    width:100vw;
    height:100vh;
    position:relative;
}
.eight {
    text-align: center;
    padding: 24vh;
    font-size: 34px;
}
.yoshiposition{
    display: block;
    width: 45vw;
    height: auto;
    margin: -28vh auto;
}

.bottom_view{
    background-image: url('img/eight.png');
    background-size:cover;
    position:absolute;
    opacity:0.8;
    bottom:0;
    width:100%;
    height:18vh;
}
/*this will be the Last frame*/
.footer{
    width:100vw;
    height:65vh;
    background-color: black;
}
.footer_you{
    display: block;
    width: 100%;
    height: 20vh;
    padding: 23px 0 0 0;
}
.footer_you p{
    text-align: center;
    color: white;
    font-size: 4vw;
}
.footer_you a{
    color:white;
}
.footer_img{
    display: block;
    width: 30vw;
    height: auto;
    margin: 0 auto;
    padding: 8vh 0 0 0;
}