@charset "UTF-8";

<style>
@import url('https://fonts.googleapis.com/css?family=Pacifico');
</style>

html{
    -webkit-text-size-adjust: 100%;
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font-size: 100%;
 vertical-align: baseline;
 background: transparent;
}
img{
    width:100%;
}

body{
    padding:0;
    margin:0;
    width:100%;
    
}
.wrapper{
    padding:0;
    margin:0;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}



.clear{
    clear: both;
}

.menu img{
    -moz-transition: -moz-transform 0.1s linear;
    -webkit-transition: -webkit-transform 0.1s linear;
    -o-transition: -o-transform 0.1s linear;
    -ms-transition: -ms-transform 0.1s linear;
    transition: transform 0.1s linear;
}

/* 固定ミシン */
#misin{
    position: fixed;
    top: -1vw;
    right: 2vw;
    width: 12%;
    z-index: 12;
    transition: cubic-bezier(0.72, 0.14, 0.29, 1.07);
}

#misin:hover{
    cursor: pointer;
}





/*---------------------------------スマホ版------------------------------------*/


@media screen and (max-width:620px){


     .twitter_timeline{
         z-index: 10000;
     }
    


#misin{
    display:none;;
}


/* ゆうたゾーン */
#main{
    background-image: url(../fashion/img/top_back_sp.png);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
}

.top_time{
    padding-top:97vw;
}

.top_time h2{
    font-size: 8vw;
    font-family: 'Pacifico',cursive;
    padding-left:7vw;
    color:#404143;
}
.top_time h3{
    font-size: 6vw;
    padding-left:7vw;
    padding-top:2vw;
    font-family: "Rounded Mplus 1c";
}
.top_time h4{
    font-size: 6vw;
    padding-left:7vw;
    color:#404143;
    font-family: "Rounded Mplus 1c";
}


.top_place{
    padding-bottom: 3vw;
}

.top_place h3{
    font-size: 8vw;
    font-family:'Pacifico',cursive;
    padding-left: 7vw;
}
.top_place h4{
    font-size: 6vw;
    padding-left:7vw;
    padding-top: 2vw;
    color:#404143;
    font-family: "Rounded Mplus 1c";
}
.fashion_whole{
    height: 102vw;
    padding-top: 3vw;
}


.menu{
    width:100%;
    padding-left: 1vw;
}

.menu img{
    float: left;
    padding: 2vw 5vw 2vw 5vw;
    width: 23%;
    cursor: pointer;
}

.clear{
    clear:both;
}

.menu{
    width:100%;
}





#introduction{
    background-image:url(../fashion/img/eventflower2.png);
    background-size:100%;
    background-repeat:no-repeat;
}

.intro1 h2{
    font-family: "Pacifico",cursive;
    font-size:10vw;
    color:#404143;
    text-shadow:1px 2px 0px #77C6C0;
    margin-bottom:0%;
    padding-top: 6vw;
    text-align: center;
}
.intro1 h3{
    text-align: center;
    color: #404143;
    font-size: 2.5vw;
    font-family: "Rounded Mplus 1c";
    padding-top:3vw;
}

.theme{
    padding-top:5vw;
}
.theme h2{
    font-size:6vw;
    text-align: center;
    font-family: "Rounded Mplus 1c";
    color: #404143;
}
.theme h3{
    font-size:7vw;
    text-align: center;
    font-family: "Rounded Mplus 1c";
    color: #404143;
}

.comment{
    padding-top:3.5vw;
    font-family: "Rounded Mplus 1c";
}


.comment p{
    text-align: center;
    font-size: 3.5vw;
    line-height: 3em;
    padding-bottom: 42vw;
    font-family: "Rounded Mplus 1c";
    color: #404143;
    letter-spacing: 0.2vw;
}


/* ここからミスあかり */

#guest{
    background-image: url(../fashion/img/eventflower3.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.guesttitle h1{
    font-size:10vw;
    color:#404143;
    font-family:'Pacifico',cursive;
    text-shadow:1px 2px 0px #fbf9ed;
    text-align:center;
    padding-top:10vw ;
    margin-bottom: 0vw;
}

.guestsyoukai h2{
    color:#404143;
    font-family: "Rounded Mplus 1c";
    text-align: center;
    font-size:2.5vw;
    padding-top: 3vw;
    margin-top: 0vw;
}


.tipitan{
    display: block;
    width:50vw;
    margin-left: auto;
    margin-right: auto;
    
}
.tipitan img{
    width:100%;
}

.guestright{
    width: 40vw;
    

}

.name{
   width:100vw;
   padding-top:2.2vw;
   text-align: center;
   font-size:7vw ;
   margin-right: 0vw;
   color: #404143;
}

.plofile{
    font-size: 3.5vw;
    width:70vw;
    padding-left: 16vw;
    padding-top: 3vw;
    line-height: 2.1em;
    padding-right: 0vw;
    color: #404143;
}


p{
   font-family: "Rounded Mplus 1c";
   font-size:4vw;
   color:#404143;
}
h3{
    color:#404143;
    font-size:3vw ;
    font-family: "Rounded Mplus 1c";

}


#about_event{
background-image:url(../fashion/img/eventflower1.png);
background-size:100%;
background-repeat: no-repeat;
}

.aboutiventtitle h4{
    font-size:10vw;
    color:#404143;
    font-family:'Pacifico',cursive;
    text-shadow:1px 2px 0px #77c6c0;
    text-align:center;
    margin-top: 0vw;
    padding-top: 7.6vw;
}

#about_event h2{
   font-size:2.5vw;
   color:#404143;
   font-family: "Rounded Mplus 1c";
   text-align: center;
   padding-top:3vw;
}


.time{
    float:left;
    padding-left:17.2vw;
    padding-top: 2vw;

}

.place{
    float:left;
    padding-left:17.2vw;
    padding-top: 4vw;
}


.time1,.place1{
    font-family:  'Pacifico',cursive;
    font-size: 6vw;
    padding-left: 0vw;
}

.time1,.time2{
    float: left;
}

.place1,.place2{
    float: left; 
}

.clear{clear:both;}


.guestgaiyou{
    height:67vw ;
}

.time2,.place2{
   padding-left: 10vw;
   font-size: 5vw;
   padding-top:1.4vw;
}

.time{
    padding-top: 13vw;
}
.place{
    padding-top: 5.6vw;
}

.time,.place{
    padding-left: 15vw;
}

/* ここからナナコミタに */

#webcm{
    background-image: url(../fashion/img/eventflower4.png);
    background-size:100%;
    background-repeat: no-repeat;
}

#webcm h1{
    font-family: 'Pacifico',cursive;
    font-size:10vw;
    color:#404143;
    text-shadow:1px 2px 0px #77C6C0;
    margin-bottom:0%;
    padding-top: 10vw;
    text-align: center;
}
#webcm h2{
    text-align: center;
    color: #404143;
    font-size: 2.5vw;
    font-family: "Rounded Mplus 1c";
    padding-top: 1vw;
}

.cmimg{
    text-align: center;
    padding-bottom:6vw;
}

.cm1,.cm2{
    width:50vw;
    height:30vw;
    margin:auto;
    padding-top:5vw;
    padding-bottom:5vw;
}
#collabo{
    background-image: url(../fashion/img/collabo_back_sp.png);
    background-size:100%;
    background-repeat:no-repeat;
}

#collabo h1{font-family: 'Pacifico',cursive;
    font-size:10vw;
    color:#404143;
    text-shadow:1px 2px 0px #e95a4a;
    margin-bottom:0%;
    padding-top: 6vw;
    text-align: center;
}

#collabo h2{
    text-align: center;
    color: #404143;
    font-size: 2.5vw;
    font-family: "Rounded Mplus 1c";
    padding-top:1vw;
}

#collabo img{
    width: 59%;
    height: auto;
}

.rakkyo{
    text-align:center;
}

.rakkyo_menu h4{
    font-family: "Rounded Mplus 1c";
}

#collabo h3{
    color: #404143;
    font-size: 5vw;
    font-family: "Rounded Mplus 1c";
    padding-left: 22vw;
}
#collabo h4{
    font-size: 9vw;
    padding-left: 15vw;
    padding-top: 3vw;
    color: #404143;
}

#collabo p{
    text-align: center;
    font-size:5vw;
    color: #404143;
    padding-top: 4vw;
    padding-bottom: 38vw;
}

.clearfix:after{
    content:"";
    display:block;
    clear:both;
}

.clearfix{
    *zoom:li
}

}

/* 近藤千尋のSNS */

.sns{
    padding-left:55vw;
}


.logo_twitter{
    width:10vw;
}
.logo_twitter img{
    width:100%;
    -moz-transition: -moz-transform 0.1s linear;
    -webkit-transition: -webkit-transform 0.1s linear;
    -o-transition: -o-transform 0.1s linear;
    -ms-transition: -ms-transform 0.1s linear;
    transition: transform 0.1s linear;
}
.logo_wear{
    width:10vw;
}
.logo_wear img{
    width:100%;
    -moz-transition: -moz-transform 0.1s linear;
    -webkit-transition: -webkit-transform 0.1s linear;
    -o-transition: -o-transform 0.1s linear;
    -ms-transition: -ms-transform 0.1s linear;
    transition: transform 0.1s linear;
}
.logo_instagram{
    width:10vw;
}
.logo_instagram img{
    width:100%;
    -moz-transition: -moz-transform 0.1s linear;
    -webkit-transition: -webkit-transform 0.1s linear;
    -o-transition: -o-transform 0.1s linear;
    -ms-transition: -ms-transform 0.1s linear;
    transition: transform 0.1s linear;
}

.logo_twitter,.logo_instagram,.logo_wear{
    float:left;
    padding:1vw;
}

.footer{
    width:100vw;
    height:70vh;
    background-color: black;
}
.footer_you{
    display: block;
    width: 86%;
    height: 20vh;
    padding: 1vw 0 0 6vw;
}
.footer_you p{
    text-align: center;
    color: white;
    font-size: 4vw;
}
.footer_you a{
    color:white;
}
.footer_img{
    display: block;
    width: 30vw;
    height: auto;
    margin: 0 auto;
    padding: 8vh 0 0 0;
}










/* スマホここまで */

/*-----------------------------パソコン版-----------------------------*/


@media screen and (min-width:769px){


/* ゆうたゾーン */
#main{
    background-image:url(../fashion/img/top_back_pc.png);
    background-size:100%;
    background-repeat:no-repeat;
    background-position-y: 6vw;
}

.top_time{
    padding-top: 33vw;
}

.top_time h2{
    font-size: 3vw;
    font-family: 'Pacifico',cursive;
    width: 20%;
    padding-left: 11vw;
    float: left;
}
.top_time h3{
    font-size: 3vw;
    padding-left: 2.3vw;
    float: left;
}
.top_time h4{
    font-size: 3vw;
    color:#404143;
    width: 28.4vw;
    padding-left: 28vw;
    text-shadow:0 0 0 ;
    font-family: "Rounded Mplus 1c";
}



.top_place h3{
    font-size: 3vw;
    padding-left: 17vw;
    font-family:'Pacifico',cursive;
    float:left;
}
.top_place h4{
    font-size: 3vw;
    text-shadow:0 0 0;
    width: 30vw;
    padding-left: 5.7vw;
    color:#404143;
    float:left;
    font-family: "Rounded Mplus 1c";
}




.menu{
    width:100%;
    padding-left: 14vw;
}

.menu img{
    float: left;
    padding: 2vw 0vw 2vw 5vw;
    width: 18%;
    cursor: pointer;
}

.clear{
    clear:both;
}

.menu{
    width:100%;
}

.menu img{
    -moz-transition: -moz-transform 0.1s linear;
    -webkit-transition: -webkit-transform 0.1s linear;
    -o-transition: -o-transform 0.1s linear;
    -ms-transition: -ms-transform 0.1s linear;
    transition: transform 0.1s linear;
}
.menu img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    filter: alpha(opacity=90);        /* ie lt 8 */
    -ms-filter: "alpha(opacity=90)";  /* ie 8 */
    -moz-opacity:0.9;                 /* FF lt 1.5, Netscape */
    -khtml-opacity: 0.9;              /* Safari 1.x */
    opacity:0.9;
    zoom:1;
}








#introduction{
    background-image:url(../fashion/img/intro_back_2.png);
    background-size:100%;
    background-repeat:no-repeat;
}

.intro1 h2{
    font-family: 'Pacifico',cursive;
    font-size:5vw;
    color:#404143;
    text-shadow:0.2vw 0.2vw 0px #77C6C0;
    margin-bottom:0%;
    padding-top: 9.5vw;
    text-align: center;
}
.intro1 h3{
    text-align: center;
    color: #404143;
    font-size: 1.5vw;
    font-family: "Rounded Mplus 1c";
}

.theme{
    padding-top:5vw;
}
.theme h2{
    font-size:4vw;
    text-align: center;
    font-family: "Rounded Mplus 1c";
    color: #404143;
}
.theme h3{
    font-size:5vw;
    text-align: center;
    font-family: "Rounded Mplus 1c";
    color: #404143;
}

.comment{
    padding-top:4vw;
    font-family: "Rounded Mplus 1c";
}


.comment p{
    text-align: center;
    font-size: 1.4vw;
    line-height: 3em;
    padding-bottom: 20vw;
    font-family: "Rounded Mplus 1c";
    color: #404143;
    letter-spacing: 0.2vw;
}


/* ここからミスあかり */

#guest{
    background-image: url(../fashion/img/back3.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#about_event{
background-image:url(../fashion/img/back_6.png);
background-size:100%;
background-repeat: no-repeat;
}

.tipitan{
    width:30vw;
    margin-left: 12vw;
    margin-top: 0vw;
    
}
.tipitan img{
    width:100%;
}

.guesttitle{
    padding-top:5.4vw ;
    margin-bottom: 0vw;

}
.aboutiventtitle{
    margin-top: 0vw;
    padding-top: 7.2vw;
}
h1{
    font-size:5vw;
    color:#404143;
    font-family:'Pacifico',cursive;
    text-shadow:0.2vw 0.2vw 0vw #fbf9ed;
    text-align:center;
}
h4{
    font-size:5vw;
    color:#404143;
    font-family:'Pacifico',cursive;
    text-shadow:2px 3px 0px #77c6c0;
    text-align:center;
}
h2{
   font-size:1.5vw;
   color:#404143;
   font-family: "Rounded Mplus 1c";
   text-align: center;
}

p{
   font-family: "Rounded Mplus 1c";
   font-size:4vw;
   color:#404143;
}
h3{
    color:#404143;
    font-size:3vw ;
    font-family: "Rounded Mplus 1c";

}

.name{
    margin-right:16vw;
   border-bottom: dashed;
   width:18vw;
   text-align: center;
}

.guestsyoukai{
    padding-top: 1vw;
    margin-top: 0vw;
}

.time{

    float:left;
    padding-left:17.2vw;
    padding-top: 2vw;

}

.place{

    float:left;
    padding-left:17.2vw;
    padding-top: 4vw;
}



.plofile{
    font-size: 1.6vw;
    padding-left: 0vw;
    padding-top: 2vw;
    line-height: 2.1em;
}

.time1,.place1{
    font-family:  'Pacifico',cursive;
    font-size: 6vw;
    padding-left: 0vw;
}





.time1,.time2{
    float: left;
}

.place1,.place2{
    float: left; 
}

.clear{clear:both;}

.fashion_whole{
    height: 36vw;
    padding-top: 3vw;
}



.guestright{
    width: 40vw;
    padding-left: 5vw;
    float: left;
}


.tipitan{
    float:left;
}

.guestgaiyou{
    height:67vw ;
}

.time2,.place2{
   padding-left: 10vw;
   font-size: 5vw;
   padding-top:1.4vw;
}

.time{
    padding-top: 6.4vw;
}
.place{
    padding-top: 6.4vw;
}

.time,.place{
    padding-left: 15vw;
}


/* ここからナナコミタに */

#webcm{
    background-image: url(../fashion/img/webcm.png);
    background-size:100%;
    background-repeat: no-repeat;
}

#webcm h1{
    font-family: 'Pacifico',cursive;
    font-size:5vw;
    color:#404143;
    text-shadow:0.2vw 0.2vw 0px #77C6C0;
    margin-bottom:0%;
    padding-top: 5vw;
    text-align: center;
}
#webcm h2{
    text-align: center;
    color: #404143;
    font-size: 1.5vw;
    font-family: "Rounded Mplus 1c";
}

.cmimg{
    text-align: center;
}

.cm1,.cm2{
    width:50vw;
    height:30vw;
    margin:auto;
    padding-top:5vw;
    padding-bottom:5vw;
}
#collabo{
    background-image: url(../fashion/img/collabo_back.png);
    background-size:100%;
    background-repeat:no-repeat;
    padding-bottom: 2vw;
}

#collabo h1{font-family: 'Pacifico',cursive;
    font-size:5vw;
    color:#404143;
    text-shadow:0.2vw 0.2vw 0px #e95a4a;
    margin-bottom:0%;
    padding-top: 3vw;
    text-align: center;
}

#collabo h2{
    text-align: center;
    color: #404143;
    font-size: 1.5vw;
    font-family: "Rounded Mplus 1c";
}

#collabo img{
    width:30%;
    height:auto;
    padding-top:4vw;
    padding-left:10vw;
    padding-bottom:12.5vw;
    float:left;
}


.rakkyo_menu{
    float:left;
    margin-left: 10vw;
}



#collabo h3{
    font-size: 2vw;
    color: #404143;
    padding-top: 5vw;
    padding-left: 8.5vw;
    border-bottom: dashed;
    width: 30vw;
}

#collabo h4{
    font-size: 4vw;
    text-shadow: 0 0 0;
    padding-top: 2vw;
    font-family: "Rounded Mplus 1c";

}

#collabo p{
    font-size:2vw;
    text-shadow:0 0 0;
    padding-top: 2vw;
    padding-left: 5vw;
}









.clearfix:after{
    content:"";
    display:block;
    clear:both;
}

.clearfix{
    *zoom:li
}



/* 近藤千尋のSNS */

.sns{
    padding-left:70vw;
}


.logo_twitter{
    width:5vw;
}
.logo_twitter img{
    width:100%;
    -moz-transition: -moz-transform 0.1s linear;
    -webkit-transition: -webkit-transform 0.1s linear;
    -o-transition: -o-transform 0.1s linear;
    -ms-transition: -ms-transform 0.1s linear;
    transition: transform 0.1s linear;
}
.logo_wear{
    width:5vw;
}
.logo_wear img{
    width:100%;
    -moz-transition: -moz-transform 0.1s linear;
    -webkit-transition: -webkit-transform 0.1s linear;
    -o-transition: -o-transform 0.1s linear;
    -ms-transition: -ms-transform 0.1s linear;
    transition: transform 0.1s linear;
}
.logo_instagram{
    width:5vw;
}
.logo_instagram img{
    width:100%;
    -moz-transition: -moz-transform 0.1s linear;
    -webkit-transition: -webkit-transform 0.1s linear;
    -o-transition: -o-transform 0.1s linear;
    -ms-transition: -ms-transform 0.1s linear;
    transition: transform 0.1s linear;
}

.logo_twitter,.logo_instagram,.logo_wear{
    float:left;
    padding:1vw;
}

.logo_twitter img:hover,.logo_instagram img:hover,.logo_wear img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.footer{
    width:100vw;
    height:80vh;
    background-color: black;
}

.footer_you{
    display: block;
    width: 100%;
    height: 20vh;
    padding: 23px 0 0 0;
}
.footer_you p{
    text-align: center;
    color:white;
    font-size: 2vw;
}
.footer_you a{
    color:white;
}
.footer_img{
    display:block;
    width:12vw;
    height: auto;
    margin:0 auto;
    padding: 15vh 0 0 0;
}










.macdn-button{
    display: none;
}
/* 固定ミシン */
#misin{
    position: fixed;
    top: -1vw;
    right: 2vw;
    width: 12%;
    z-index: 12;
    transition: cubic-bezier(0.72, 0.14, 0.29, 1.07);
}

#misin:hover{
    cursor: pointer;
}




}



