@charset "utf-8";



html,head,body,div,p,h1,h2,h3,h4,h5,h6,{
    padding:0;
    margin:0;
}



#logo{
    width: 5vw;
    position: fixed;
    right: 2vw;
    z-index:12;
    top: 0.5vw;
}



body{
    width:100%;
    background-color:#831C29;
    margin:0;
    padding:0;
}
.clear{
    clear: both;
}




#rotate_logo{
    width: 5vw;
    position: fixed;
    right: 2vw;
    z-index:12;
    top: 0.5vw;
}



@media screen and (min-width:769px){


/*first frame*/
.toptop{
    width:100%;
    height:60vw;
    background-image:url('../local/img/top.png');
    background-size:100%;
    background-repeat: no-repeat;
    display:block;
    margin-bottom: 9vw;
    margin-top:6vw;
}

#contents{
    background-color:white;
    z-index: 2;
    width:94%;
    display: block;
    margin:2vw 3vw;
    padding-bottom: 11vw;
    margin-bottom: 9vw;
}






/*second frame*/

.about{
    display:block;
    width:100vw;
    background-image:url(../local/img/tokyotower.png);
    background-repeat:no-repeat;
    background-position-x: 60vw;
    background-size: 12vw;
    padding: 1vw 0vw;
}

.about h2{
    color:white;
    text-align: center;
    width:100%;
    font-size: 4vw;
    font-weight: 100;
    font-family: "Sawarabi Mincho";
}
.about h3{
    color:white;
    text-align: center;
    width:100%;
    font-size:5vw;
    font-weight: 100;
    font-family: "Sawarabi Mincho";
}






.info p{
    text-align: center;
    padding:0.4vw;
    font-weight: bold;
    letter-spacing: 0.2em;
}

.info{
    text-align: center;
    padding-top: 5vw;
    padding-bottom: 4vw;
    font-size: 1.7vw;
}

.jyoukyou{
    font-size: 2.4vw;
    color:#831C29;
}



.apply_1 a{
    width: 70vw;
    margin-left: 12vw;
    padding-top: 7vw;
    margin-bottom: 3vw;
    background-image: url(../local/img/apply.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display:block;
}
.apply_1 a:hover{
    width: 70vw;
    margin-left: 12vw;
    padding-top: 7vw;
    margin-bottom: 3vw;
    background-image: url(../local/img/apply_hover.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display:block;
}


/*third frame*/

.box_1{
    background-image: url("../local/img/benefit_1.png");
    background-size: 100%;
    background-repeat:no-repeat;
    width:70vw;
    height: 50vw;
    margin: 6vw 13vw;
}


.box_2{
    background-image: url("../local/img/benefit_2.png");
    background-size: 100%;
    background-repeat:no-repeat;
    width:70vw;
    height: 50vw;
    margin: 2vw 13vw;
}


#detail h2,h3,h4,h5,p{
    font-family: "Sawarabi Mincho";
}




.request h3{
    background-image: url("../local/img/back_detail.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 0.6vw;
    text-align: center;
    font-size: 2vw;
}

/* 応募資格 */

.qualification{
    padding: 2vw 0vw;
    padding-left: 8vw;
}
.qualification img{
    width:7vw;
    float:left;
}
.qualification h2{
    width:60vw;
    float:left;
    padding-left: 2vw;
    padding-top: 1.8vw;
    color:#831C29;
    font-size: 2.7vw;
}
.qualification p{
    font-size: 1.2vw;
    padding-left: 9vw;
    font-weight:bold;
    width: 70vw;
}

/* 選考基準 */

.basis{
    width:28vw;
    float: left;
    padding-left: 10vw;
}

.basis img{ 
    width:3vw;
    float:left;
}
.basis h2{
    width:30vw;
    font-size:2vw;
    padding-left:4vw;
    padding-bottom:0.6vw;
    color:#831C29;
}
.basis p{
    font-size:1vw;
    padding-left: 4vw;
    padding-bottom: 0.1vw;
    font-weight: bold;
}

/* 選考人数 */

.number{
    width:13vw;
    float: left;
    padding-left: 4vw;
}

.number img{ 
    width:3vw;
    float:left;
}
.number h2{
    width:18vw;
    font-size:2vw;
    padding-left:4vw;
    padding-bottom:0.6vw;
    color:#831C29;
}
.number p{
    font-size:1vw;
    padding-left: 4vw;
    padding-bottom: 0.1vw;
    font-weight: bold;
    width:18vw;
}

/* 選考発表 */

.announce{
    width:24vw;
    float: left;
    padding-left: 7vw;
}

.announce img{ 
    width:3vw;
    float:left;
}
.announce h2{
    width:30vw;
    font-size:2vw;
    padding-left:4vw;
    padding-bottom:0.6vw;
    color:#831C29;
}
.announce p{
    font-size:1vw;
    padding-left: 4vw;
    padding-bottom: 0.1vw;
    font-weight: bold;
}


/* 応募方法 */

.way{
    width:30vw;
    float: left;
    padding-left: 10vw;
    padding-top: 2vw;
}

.way img{ 
    width:3vw;
    float:left;
}
.way h2{
    width:30vw;
    font-size:2vw;
    padding-left:4vw;
    padding-bottom:0.6vw;
    color:#831C29;
}
.way p{
    font-size:1vw;
    padding-left: 4vw;
    padding-bottom: 0.1vw;
    font-weight: bold;
}

/* 応募期間 */

.term{
    width:30vw;
    float: left;
    padding-left:2vw;
    padding-top: 2vw;
}

.term img{ 
    width:3vw;
    float:left;
}
.term h2{
    width:30vw;
    font-size:2vw;
    padding-left:4vw;
    padding-bottom:0.6vw;
    color:#831C29;
}
.term p{
    font-size:1vw;
    padding-left: 4vw;
    padding-bottom: 0.1vw;
    font-weight: bold;
}

.apply_2 a{
    width: 70vw;
    margin-left: 12vw;
    padding-top: 7vw;
    margin-top: 16vw;
    margin-bottom: 0vw;
    background-image: url(../local/img/apply.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
}
.apply_2 a:hover{
    width: 70vw;
    margin-left: 12vw;
    padding-top: 7vw;
    margin-top: 16vw;
    margin-bottom: 0vw;
    background-image: url(../local/img/apply_hover.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
}

.footer{
    width:100vw;
    height:80vh;
    background-color: black;
}
.footer_you{
    display: block;
    width: 100%;
    height: 20vh;
    padding: 23px 0 0 0;
}
.footer_you p{
    text-align: center;
    color:white;
    font-size:2vw;
}
.footer_you a{
    color:white;
}
.footer_img{
    display:block;
    width:12vw;
    height: auto;
    margin:0 auto;
    padding: 15vh 0 0 0;
}






}
/* ここからスマホ */
@media screen and (max-width:620px){

    #rotate_logo{
        display: none;
    }

#contents{
    background-color:white;
    z-index: 2;
    width:94%;
    display: block;
    margin:2vw 3vw;
    padding-bottom:6vw;
}


    .toptop{
        width:100%;
        height:183vw;
        background-image:url('../local/img/top_back2.png');
        background-size:100%;
        background-repeat: no-repeat;
        display:block;
    }



    .about{
        display:block;
        width:100vw;
        background-image:url(../local/img/tokyotower.png);
        background-repeat:no-repeat;
        background-position-x: 60vw;
        background-size: 12vw;
        padding: 1vw 0vw;
    }
    
    .about h2{
        color:white;
        text-align: center;
        width:100%;
        font-size: 4vw;
        font-weight: 100;
        font-family: "Sawarabi Mincho"
    }
    .about h3{
        color:white;
        text-align: center;
        width:100%;
        font-size:5vw;
        font-weight: 100;
        font-family: "Sawarabi Mincho"
    }

    .info p{
        text-align: center;
        padding:0.4vw;
        font-weight: bold;
        letter-spacing: 0.2em;
    }
    
    .info{
        text-align: center;
        padding-top: 8vw;
        padding-bottom: 4vw;
        font-size: 3.5vw;
    }
    
    .jyoukyou{
        font-size: 4.5vw;
        color:#831C29;
    }






    .apply_1 a{
        width: 70vw;
        margin-left: 12vw;
        padding-top: 15vw;
        margin-bottom: 3vw;
        background-image: url(../local/img/apply_sp.png);
        background-size: 100%;
        background-repeat: no-repeat;
        display:block;
    }
    .apply_1 a:hover{
        width: 70vw;
        margin-left: 12vw;
        padding-top: 15vw;
        margin-bottom: 3vw;
        background-image: url(../local/img/apply_sp_hover.png);
        background-size: 100%;
        background-repeat: no-repeat;
        display:block;
    }

    .box_1{
        background-image: url("../local/img/benefit3.png");
        background-size: 100%;
        background-repeat:no-repeat;
        width: 90vw;
        height: 142vw;
        margin: 2vw 3vw;
        margin-top: 12vw;
    }
    
    
    .box_2{
        background-image: url("../local/img/benefit4.png");
        background-size: 100%;
        background-repeat:no-repeat;
        width: 90vw;
        height: 198vw;
        margin: 2vw 3vw;
    }

    #detail h2,h3,h4,h5,p{
        font-family: "Sawarabi Mincho";
    }

    .request h3{
        font-size: 6vw;
        text-align: center;
        width: 70vw;
        margin-left: 12vw;
        border-bottom: dashed;
        padding-top: 12vw;
    }
    
    /* 応募資格 */
    
    .qualification{
        padding: 2vw 0vw;
        padding-left: 8vw;
    }
    .qualification img{
        width: 11vw;
        padding-top: 2vw;
        padding-left:34vw;
    }
    .qualification h2{
        width: 65vw;
        padding-left: 7vw;
        padding-top: 1.8vw;
        color: #831C29;
        font-size: 4.2vw;
        text-align: center;
    }
    .qualification p{
        font-size: 4vw;
        font-weight: bold;
        width: 79vw;
    }
    .comment{
        padding-top: 3vw;
        padding-left: 2vw;
        padding-bottom: 5vw;
    }
    
    /* 選考基準 */
    
    .basis{
        width:60vw;
        padding-left: 10vw;
    }
    .basis_2{
        padding-top: 2vw;
        width: 71vw;
        padding-bottom: 6vw;
    }
    
    .basis img{ 
        width:9vw;
        float:left;
    }
    .basis h2{
        width: 30vw;
        font-size: 5vw;
        padding-left: 12vw;
        padding-bottom: 0.6vw;
        padding-top: 0.3vw;
        color:#831C29;
    }
    .basis p{
        font-size: 4vw;
        padding-left: 4vw;
        padding-bottom: 2vw;
        font-weight: bold;
    }

    
    /* 選考人数 */
    
    .number{
        width: 60vw;
        padding-left: 10vw;
    }
    
    .number img{ 
        width:9vw;
        float:left;
    }
    .number h2{
        width: 30vw;
        font-size: 5vw;
        padding-left: 12vw;
        padding-bottom: 0.6vw;
        padding-top: 0.3vw;
        color: #831C29;
    }
    .number p{
        font-size: 4vw;
        padding-left: 9vw;
        font-weight:bold;
        width: 65vw;
        padding-bottom: 2vw;
    }
    
    /* 選考発表 */
    
    .announce{
        width: 60vw;
        padding-left: 10vw;
    }
    
    .announce img{ 
        width:9vw;
        float:left;
    }
    .announce h2{
        width: 30vw;
        font-size: 5vw;
        padding-left: 12vw;
        padding-bottom: 0.6vw;
        padding-top: 0.3vw;
        color: #831C29;
    }
    .announce p{
        font-size: 4vw;
        padding-left: 9vw;
        font-weight:bold;
        width: 65vw;
        padding-bottom: 2vw;
    }
    
    
    /* 応募方法 */
    
    .way{
        width: 60vw;
        padding-left: 10vw;
    }
    
    .way img{ 
        width:9vw;
        float:left;
    }
    .way h2{
        width: 30vw;
        font-size: 5vw;
        padding-left: 12vw;
        padding-bottom: 0.6vw;
        padding-top: 0.3vw;
        color: #831C29;
    }
    .way p{
        font-size: 4vw;
        font-weight:bold;
        width: 65vw;
        padding-bottom: 2vw;
        padding-left: 9vw;
    }
    
    /* 応募期間 */
    
    .term{
        width: 60vw;
        padding-left: 10vw;
        padding-bottom: 6vw;
    }
    
    .term img{ 
        width:9vw;
        float:left;
    }
    .term h2{
        width: 30vw;
        font-size: 5vw;
        padding-left: 12vw;
        padding-bottom: 0.6vw;
        padding-top: 0.3vw;
        color: #831C29;
    }
    .term p{
        font-size: 4vw;
        padding-left: 9vw;
        font-weight:bold;
        width: 65vw;
        padding-bottom: 2vw;
    }
    

    .apply_2{
        background-image: url(../local/img/tokyotower.png);
        background-size: 31vw;
        background-repeat: no-repeat;
        background-position-x: 48vw;
        background-position-y: -1vw;
        z-index: 2;
        padding-top: 14vw;
        height: 24vw;
    }

    
    .apply_2 a{
        width: 70vw;
        margin-left: 12vw;
        padding-top: 15vw;
        margin-top: 1vw;
        background-image: url(../local/img/apply_sp.png);
        background-size: 100%;
        background-repeat: no-repeat;
        display: block;

    }
    
    .apply_2 a:hover{
        width: 70vw;
        margin-left: 12vw;
        padding-top: 15vw;
        margin-top: 1vw;
        background-image: url(../local/img/apply_sp_hover.png);
        background-size: 100%;
        background-repeat: no-repeat;
        display: block;
        z-index: 1;
    }

/*this will be the Last frame*/
.footer{
    width:100vw;
    height:80vh;
    background-color: black;
}
.footer_you{
    display: block;
    width: 86%;
    height: 20vh;
    padding: 1vw 0 0 6vw;
}
.footer_you p{
    text-align: center;
    color: white;
    font-size: 4vw;
}
.footer_you a{
    color:white;
}
.footer_img{
    display: block;
    width: 30vw;
    height: auto;
    margin: 0 auto;
    padding: 8vh 0 0 0;
}







    }



