@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/nicomoji.css);
html{
    -webkit-text-size-adjust: 100%;
}
body{
    padding:0;
    margin: 0;
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;    
}


 /*PC用のスタイル記述*/
@media screen and (min-width:621px){


.whole{
    width: 85vw;
    height: 75vh;
    margin: 0 auto;
    padding:10vh 0 0 0;
}
.mEvent{
    float: left;
    background-color: black;
    z-index: 1001;
    height: 35vw;
    width: 35vw;
    margin: 8px;
    border-radius:3vw;
}

.mwasFES a {
    display: block;
    position: absolute;
    height: 35vw;
    width: 35vw;
    border-radius:3vw;
    background-image:url('img/mmenu_wasFES.png');
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
}
.mlocal a{
    display: block;
    position: absolute;
    height: 35vw;
    width: 35vw;
    border-radius:3vw;
    background-image:url('img/mmenu_local.png');
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
}
.mmoon a{
    display: block;
    position: absolute;
    height: 35vw;
    width: 35vw;
    border-radius:3vw;
    background-image:url('img/mmenu_moon.png');
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
}
.mwind a{
    display: block;
    position: absolute;
    height: 35vw;
    width: 35vw;
    border-radius:3vw;
    background-image:url('img/mmenu_wind.png');
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
}
.mflower a{
    display: block;
    position: absolute;
    height: 35vw;
    width: 35vw;
    border-radius:3vw;
    background-image:url('img/mmenu_flower.png');
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
}
.mbird a{
        display: block;
    position: absolute;
    height: 35vw;
    width: 35vw;
    border-radius:3vw;
    background-image:url('img/mmenu_bird.png');
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
}

.mmenu{
    position: relative;
}
.whole{
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

/*icon css*/
.glass{
    position: absolute;
    height: 82%;
    margin: -6.5% 0% 0% 92.7%;
    z-index: 1;
}
.base{
    position: absolute;
    height: 55%;
    margin: -4.8% 0% 0% 93.3%;
    z-index: 3;
}
.light{
    position: absolute;
    height: 60%;
    margin: -5.8% 0% 0% 93.2%;
    z-index: 2;
}
.switch {
 -webkit-animation: switchtext 0.6s infinite alternate;
 -moz-animation: switchtext 0.6s infinite alternate;
 animation: switchtext 0.6s infinite alternate;
}
@-webkit-keyframes switchtext {
 from { opacity: 1; }
 to { opacity: 0.3; }
}
@-moz-keyframes switchtext {
 from { opacity: 1; }
 to { opacity: 0.3; }
}
@keyframes switchtext {
 from { opacity: 1; }
 to { opacity: 0.3; }
}


/*ヘッダー*/
.header{
    height: 59vh;
    width: 100%;
    background-image: -webkit-gradient(linear, 0 0, 0 50%, color-stop(.10, #DDDDDD), color-stop(.10, transparent), to(transparent));
-webkit-background-size: 1vw;
}
.guest{
    width: 17.4%;
    margin: 6.3vw 0vw 0vw 14vw;
    position: relative;
    z-index: 1;
}
.logo{
    width:50%;
    margin: 9vw 0vw 0vw 7vw;
    position: absolute;
}

/*１ページ目*/
.page1{
    background-color: #F2A320;
    height: 44vh;
    width: 100%;
    position: relative;
    z-index: 2;
}

    .haguruma1{
        width: 11%;
        margin: 4.5vw 0vw 0vw 19.5vw;
        float: left;
    }
    .haguruma1{

    -webkit-animation: spin 20s linear infinite;
    -moz-animation: spin 20s linear infinite;
    -ms-animation: spin 20s linear infinite;
    -o-animation: spin 20s linear infinite;
    animation: spin 20s linear infinite;
    transform-origin: inherit;
}

@-webkit-keyframes spin {
 0% {-webkit-transform: rotate(0deg);}
 100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
 0% {-moz-transform: rotate(0deg);}
 100% {-moz-transform: rotate(360deg);}
    
}
@-ms-keyframes spin {
 0% {-ms-transform: rotate(0deg);}
 100% {-ms-transform: rotate(360deg);}
}
@-o-keyframes spin {
 0% {-o-transform: rotate(0deg);}
 100% {-o-transform: rotate(360deg);}
}
@keyframes spin {
 0% {transform: rotate(0deg);}
 100% {transform: rotate(360deg);}
}
    .haguruma2{
        width: 9%;
        margin: 11.2vw 0vw 0vw -3.2vw;
    }
    .haguruma2 {

    -webkit-animation: rotate 20s linear infinite;
    -moz-animation: rotate 20s linear infinite;
    -ms-animation: rotate 20s linear infinite;
    -o-animation: rotate 20s linear infinite;
    animation: rotate 20s linear infinite;
    transform-origin: inherit;
}

@-webkit-keyframes rotate {
 0% {-webkit-transform: rotate(0deg);}
 100% {-webkit-transform: rotate(-360deg);}
}
@-moz-keyframes rotate {
 0% {-moz-transform: rotate(0deg);}
 100% {-moz-transform: rotate(-360deg);}
    
}
@-ms-keyframes rotate {
 0% {-ms-transform: rotate(0deg);}
 100% {-ms-transform: rotate(-360deg);}
}
@-o-keyframes rotate {
 0% {-o-transform: rotate(0deg);}
 100% {-o-transform: rotate(-360deg);}
}
@keyframes rotate {
 0% {transform: rotate(0deg);}
 100% {transform: rotate(-360deg);}
}
    .haguruma3{
        width: 7%;
        margin: 11.8vw 0vw 0vw -15vw;
        float: left;
    }
    .haguruma3 {

    -webkit-animation: rotate 20s linear infinite;
    -moz-animation: rotate 20s linear infinite;
    -ms-animation: rotate 20s linear infinite;
    -o-animation: rotate 20s linear infinite;
    animation: rotate 20s linear infinite;
    transform-origin: inherit;
}

@-webkit-keyframes rotate {
 0% {-webkit-transform: rotate(0deg);}
 100% {-webkit-transform: rotate(-360deg);}
}
@-moz-keyframes rotate {
 0% {-moz-transform: rotate(0deg);}
 100% {-moz-transform: rotate(-360deg);}
    
}
@-ms-keyframes rotate {
 0% {-ms-transform: rotate(0deg);}
 100% {-ms-transform: rotate(-360deg);}
}
@-o-keyframes rotate {
 0% {-o-transform: rotate(0deg);}
 100% {-o-transform: rotate(-360deg);}
}
@keyframes rotate {
 0% {transform: rotate(0deg);}
 100% {transform: rotate(-360deg);}
}

.infomation{
    font-family: Kazesawa-Regular;
    font-size: 2.5vw;
    letter-spacing: 0.8pt;
    text-align: right;
    color: #FFFFFF;
    line-height: 1.5em;
    margin: -19vw 0vw 2vw 60vw;
    float:left;
}
.nami1{
    margin-top: -8vw;
    width: 100%;
    position: relative;
    z-index: 2;
}

/*２ページ目*/
.page2{
    background-color: #E48D19;
    margin-top: -9vw;
    height: 140vh;
    width: 100%;
    padding-top: 10vw;
}
.text1{
    color: #FFFFFF;
    font-family: Kazesawa-light;
    font-size: 1.5vw;
    letter-spacing: 0.8pt;
    text-align: justify;
    margin: 6vw 0vw 0vw 11vw;
    width: 28%;
    line-height: 1.8em;
}
.motif2{
    width: 95%;
    margin: -31vw 0vw 0vw 6vw;
    position: relative;
    z-index: 3;
}
.text2{
    display: block;
    color: #FFFFFF;
    font-family: Kazesawa-light;
    font-size: 1.5vw;
    text-align: justify;
    letter-spacing: 0.8pt;
    margin: 1.5vw 0vw 0vw 57vw;
    width: 29%;
    line-height: 1.8em;
}
.nami2{
    margin: -15vw 0vw 0vw 0vw;
    width: 100%;
    float: left;
}

/*３ページ目*/
.page3{
    background-color: #F2A320;
    margin-top: -16vw;
    height: 115vh;
    width: 100%;
}
.motif3{
    width: 58%;
    margin: -6vw 0vw 0vw -39vw;
    position: absolute;
    z-index: 1;
}
.img_hanaimai{
    width:19%;
    margin:2.6vw 0vw 0vw 20vw;
    position: relative;
    z-index: 2;
}

.guest_info{
    margin: -33vw 0vw 0vw 50vw;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:10vw 0vw 0vw 63vw;
    padding-top: 3vw;
    font-size: 5vw;
    font-style: oblique;
    color: #DDDDDD;
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 2vw 0vw -2vw 7vw;
    font-size: 6vw;
    font-style: oblique;
    color: #FFFFFF;
}
.motif4{
    width: 80%;
    margin-left: 2vw;
}
h4{
    color:#ffffff;
    font-family: 'Nico Moji';
    font-size:3.5vw;
    margin:0vw 0vw 0vw 13.5vw;
}
.text3{
    font-family: Kazesawa-light;
    color:#ffffff;
    margin: -1vw 0vw 0vw 6.5vw;
    font-size:1.7vw;
    letter-spacing: 0.1vw;
    text-align: justify;
    width: 60%;
    line-height: 1.8em;;
}
.motif5{
    width: 80%;
    margin: -1.5vw 0vw 0vw 2vw;
}

.nami3{
    margin-top: -8vw;
    width: 100%;
}

/*４ページ目*/
.page4{
    background-color: #E48D19;
    margin-top: -3vw;
    height: 110vh;
    width: 100%;
}
.webcm{
    width: 55%;
    margin: 5.2vw 0vw 0vw 21.5vw;
    position: relative;
    z-index: 2;
}
h5{
    font-family: Kazesawa-light;
    font-size: 2vw;
    letter-spacing: 0.4vw;
    color: #23A5C6;
    margin: -6.5vw 0vw 0vw 52vw;
    position: absolute;
    z-index: 3;
}
.rale{
    width: 83%;
    margin: -12.2vw 0vw 0vw 0vw;
}
.nami4{
    width: 100%;
    margin-top: 5vw;
    position: relative;
    z-index: 2;
}

/*5ページ目*/
#page5{
    background-color: #F2A320;
    height: 119vh;
    width: 100%;
    margin-top: -1vw;
}
.colabomenu{
    width: 45%;
    margin: 9vh 0vw 6vh 27vw;
  }
.darushimu{
    font-family: Kazesawa-Regular;
    font-size:3vw;
    letter-spacing: 0.5vw;
    color:#ffffff;
    margin:-5vw 0vw 0vw 37.5vw;
    border-bottom: solid 0.2vw white;
    float: left;
}

.cary{
    font-family: Kazesawa-Semibold;
    font-size:3.5vw;
    letter-spacing: 1vw;
    margin:2vw 0vw 3vw 30.5vw;
    color:#ffffff;
}

.food_info{
    font-family: Kazesawa-light;
    color:#ffffff;
    float:left;
    margin:1vw 0vw 0vw 8vw;
    font-size:1.5vw;
    text-align: justify;
    letter-spacing: 0.8pt;
    width: 21vw;
    line-height: 1.8em;
}

.maddohand{
    width: 32%;
    margin:-1.2vw 0vw 0vw 4.5vw;
}
.motif7{
    width:10%;
    margin:19.5vw 0vw 0vw -18vw;
    position: absolute;
}
.food_intro{
    font-family: Kazesawa-light;
    font-size:1.7vw;
    color:#ffffff;
    letter-spacing: 0.8pt;
    float:left;
    margin:-19vw 0vw 0vw 69vw;
    line-height: 1.8em;
}
.food_period{
    font-family: Kazesawa-light;
    font-size: 1.7vw;
    color: #FFFFFF;
    letter-spacing: 0.8pt;
    float: left;
    margin: -10vw 0vw 0vw 69vw;
    line-height: 1.8em;
}
.footer{
    background-image: url(img/was_pc.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height:35vw;
}
}


/*スマホ用のスタイル記述*/
@media screen and (max-width:620px){

/*icon css*/
.glass{
    display: none;
}
.base{
    display: none;
}
.light{
    display: none;
}
.switch {
 -webkit-animation: switchtext 0.6s infinite alternate;
 -moz-animation: switchtext 0.6s infinite alternate;
 animation: switchtext 0.6s infinite alternate;
 display: none;
}
@-webkit-keyframes switchtext {
 from { opacity: 1; }
 to { opacity: 0.3; }
}
@-moz-keyframes switchtext {
 from { opacity: 1; }
 to { opacity: 0.3; }
}
@keyframes switchtext {
 from { opacity: 1; }
 to { opacity: 0.3; }
}
.header{
    height: 48vw;
    width: 100%;
    background-image: -webkit-gradient(linear, 0 0, 0 50%, color-stop(.10, #DDDDDD), color-stop(.10, transparent), to(transparent));
-webkit-background-size: 1vw;
}
.guest{
    width: 27%;
    margin: 7.5vw 0vw 0vw 7vw;
    position: relative;
    z-index: 1;
}
.logo{
    width: 62%;
    position: relative;
    z-index: 1;
}

/*１ページ目*/
.page1{
    background-color: #F2A320;
    height: 19vh;
    width: 100%;
    position: relative;
    z-index: 2;
}
.haguruma1{
        width: 15%;
        margin: 9vw 0vw 0vw 16.5vw;
        float: left;
    }
    .haguruma1{

    -webkit-animation: spin 20s linear infinite;
    -moz-animation: spin 20s linear infinite;
    -ms-animation: spin 20s linear infinite;
    -o-animation: spin 20s linear infinite;
    animation: spin 20s linear infinite;
    transform-origin: inherit;
}

@-webkit-keyframes spin {
 0% {-webkit-transform: rotate(0deg);}
 100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
 0% {-moz-transform: rotate(0deg);}
 100% {-moz-transform: rotate(360deg);}
    
}
@-ms-keyframes spin {
 0% {-ms-transform: rotate(0deg);}
 100% {-ms-transform: rotate(360deg);}
}
@-o-keyframes spin {
 0% {-o-transform: rotate(0deg);}
 100% {-o-transform: rotate(360deg);}
}
@keyframes spin {
 0% {transform: rotate(0deg);}
 100% {transform: rotate(360deg);}
}

.haguruma2{
        width: 12%;
        margin: 18vw 0vw 0vw -4.5vw;
    }
    .haguruma2 {

    -webkit-animation: rotate 20s linear infinite;
    -moz-animation: rotate 20s linear infinite;
    -ms-animation: rotate 20s linear infinite;
    -o-animation: rotate 20s linear infinite;
    animation: rotate 20s linear infinite;
    transform-origin: inherit;
}

@-webkit-keyframes rotate {
 0% {-webkit-transform: rotate(0deg);}
 100% {-webkit-transform: rotate(-360deg);}
}
@-moz-keyframes rotate {
 0% {-moz-transform: rotate(0deg);}
 100% {-moz-transform: rotate(-360deg);}
    
}
@-ms-keyframes rotate {
 0% {-ms-transform: rotate(0deg);}
 100% {-ms-transform: rotate(-360deg);}
}
@-o-keyframes rotate {
 0% {-o-transform: rotate(0deg);}
 100% {-o-transform: rotate(-360deg);}
}
@keyframes rotate {
 0% {transform: rotate(0deg);}
 100% {transform: rotate(-360deg);}
}
.haguruma3{
        width: 9%;
        margin: 19vw 0vw -1vw -20vw;
        float: left;
    }
    .haguruma3 {

    -webkit-animation: rotate 20s linear infinite;
    -moz-animation: rotate 20s linear infinite;
    -ms-animation: rotate 20s linear infinite;
    -o-animation: rotate 20s linear infinite;
    animation: rotate 20s linear infinite;
    transform-origin: inherit;
}

@-webkit-keyframes rotate {
 0% {-webkit-transform: rotate(0deg);}
 100% {-webkit-transform: rotate(-360deg);}
}
@-moz-keyframes rotate {
 0% {-moz-transform: rotate(0deg);}
 100% {-moz-transform: rotate(-360deg);}
    
}
@-ms-keyframes rotate {
 0% {-ms-transform: rotate(0deg);}
 100% {-ms-transform: rotate(-360deg);}
}
@-o-keyframes rotate {
 0% {-o-transform: rotate(0deg);}
 100% {-o-transform: rotate(-360deg);}
}
@keyframes rotate {
 0% {transform: rotate(0deg);}
 100% {transform: rotate(-360deg);}
}
.infomation{
    font-family: Kazesawa-Regular;
    font-size: 3.5vw;
    letter-spacing: 0.5vw;
    text-align: right;
    color: #FFFFFF;
    margin: -30vw 0vw 0vw 0vw;
    padding-right: 15vw;
    line-height: 1.5em;
}
.nami1{
    margin-top: -8.3vw;
    width: 100%;
    position: relative;
    z-index: 2;
}

/*２ページ目*/
.page2{
    background-color: #E48D19;
    margin-top: -10vw;
    height: 60vh;
    width: 100%;
}
.text1{
    color: #FFFFFF;
    font-family: Kazesawa-light;
    font-size: 3.8vw;
    letter-spacing: 0.8pt;
    margin: 7.5vw 0vw 0vw 0vw;
    padding-top: 5vw;
    padding: 0 3.5rem;
    line-height: 1.5em;
    text-align: justify;
}
.motif2{
    width: 98%;
    margin: -33vw 0vw 0vw 3vw;
    position: relative;
    z-index: 3;
}
.text2{
    color: #FFFFFF;
    font-family: Kazesawa-light;
    font-size: 3.8vw;
    letter-spacing: 0.8pt;
    margin: -1vw 0vw 0vw 0vw;
    padding: 0 3.5rem;
    line-height: 1.5em;
    text-align: justify;
}
.nami2{
    margin-top: -15vw;
    width: 100%;
    float: left;
}

/*３ページ目*/
.page3{
    background-color: #F2A320;
    margin-top: -8vw;
    height: 90vh;
    width: 100%;
}
.motif3{
    width: 97%;
    margin: 6.5vw 0vw 0vw 0vw;
    position: absolute;
    z-index: 1;
}
.img_hanaimai{
    width:32%;
    float:left;
    margin:13vw 0vw 0vw 34vw;
    position: relative;
    z-index: 2;
}
.guest_info{
    margin: 55vw 0vw 0vw 18vw;
    position: absolute;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:5vw 0vw 0vw 0vw;
    font-size: 9vw;
    font-style: oblique;
    text-align: center;
    color: #DDDDDD;
    display: none;
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 26vw 0vw -1vw 12vw;
    font-size: 8vw;
    font-style: oblique;
    color: #FFFFFF;
}
.motif4{
    width: 85%;
    margin: -1vw 0vw 0vw -3vw;
}
h4{
    color:#ffffff;
    font-family: 'Nico Moji';
    font-size:5vw;
    margin:-1vw 0vw 0vw 20vw;
}
.text3{
    font-family: Kazesawa-light;
    color:#ffffff;
    margin: -2vw 0vw -2vw 4vw;
    font-size:3.5vw;
    text-align: justify;
    letter-spacing: 0.8pt;
    line-height: 1.5em;
    width: 56vw;
}
.motif5{
    width: 85%;
    margin: 0vw 0vw 0vw -3vw;
}
.nami3{
    margin-top: -8vw;
    width: 100%;
}

/*４ページ目*/
.page4{
    background-color: #E48D19;
    margin-top: -10vw;
    height: 50vh;
    width: 100%;
}
.webcm{
    width: 63%;
    margin: 12vw 0vw -1vw 19vw;
    position: relative;
    z-index: 2;
}
h5{
    font-family: Kazesawa-light;
    font-size: 3vw;
    letter-spacing: 0.3vw;
    color: #23A5C6;
    margin: -9vw 0vw 0vw 48vw;
    position: absolute;
    z-index: 3;
}
.rale{
    width: 95%;
    margin: 38vw 0vw 0vw -88vw;
    position: absolute;
}
.nami4{
    width: 100%;
    margin-top: 14vw;
}

/*5ページ目*/
#page5{
    background-color: #F2A320;
    height: 95vh;
    width: 100%;
    margin-top: -2vh;
}
.colabomenu{
    width: 65%;
    margin: 0vw 0vw 6vw 17vw;
 }
.darushimu{
    font-family: Kazesawa-Regular;
    font-size:5vw;
    letter-spacing: 0.5pt;
    color:#ffffff;
    margin:-13vw 0vw 1vw 32vw;
    border-bottom: solid 0.2vw white;
    float: left;
}
.cary{
    font-family: Kazesawa-Semibold;
    font-size:6vw;
    letter-spacing: 1vw;
    margin:-2vw 0vw 3vw 21vw;
    color:#ffffff;
    clear:left;
}

.food_info{
    font-family: Kazesawa-light;
    color: #ffffff;
    width: 73vw;
    font-size: 3.5vw;
    letter-spacing: 0.8pt;
    line-height: 1.5em;
    text-align: justify;
    float: left;
    margin: 0 13vw;
    position: relative;
}

.maddohand{
    width: 60%;
    margin: 27vw 0vw 0vw -80vw;
    z-index: 1;
    position: absolute;
}
.motif7{
    width:20%;
    margin:66vw -5vw -20vw -53vw;
    position: relative;
    z-index: 2;
}
.food_intro{
    font-family: Kazesawa-light;
    font-size: 3.8vw;
    letter-spacing: 0.8pt;
    text-align: center;
    color: #ffffff;
    float: left;
    margin: -28vw 0vw 1vw 0vw;
    padding-top: 51vw;
    width: 100%;
    line-height: 1.5em;
}
.food_period{
    font-family: Kazesawa-light;
    font-size: 3.8vw;
    letter-spacing: 0.8pt;
    text-align: center;
    color: #FFFFFF;
    float: left;
    width: 100%;
    line-height: 1.5em;
    margin-top: 1vh;
}
.footer{
        background-image: url(img/was_iphone.png);
        background-size: 100%;
        background-repeat: no-repeat;
        height:115vw;
    }
}

